<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>HttpClusterServlet</servlet-name>
		<servlet-class>
			weblogic.servlet.proxy.HttpClusterServlet
		</servlet-class>
		<init-param>
			<param-name>WebLogicCluster</param-name>
			<param-value>localhost:7003|localhost:7004</param-value>
		</init-param>
		<init-param>
			<param-name>Debug</param-name>
			<param-value>ON</param-value>
		</init-param>
		<init-param>
			<param-name>DebugConfigInfo</param-name>
			<param-value>ON</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpClusterServlet</servlet-name>
		<url-pattern>*</url-pattern>
	</servlet-mapping>

</web-app>
